input[type="radio"] {
  display: none;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

#header {
  width: 100%;
  position: relative;
}

h1 {
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

#main_img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

#harry_potter {
  margin-top: 60px;
}

.question {
  margin-top: 60px;
}

.choices_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h3 {
  padding: 40px;
  margin: 8px;
}

label > img {
  height: 240px;
  width: 240px;
  margin: 8px;
}

label > input:not(:checked) + *:hover {
  box-shadow: 6px 6px;
  animation: shake 0.2s;
}

label > input:checked + * {
  border-style: solid;
  border-width: 4px;
  animation: click 0.3s;
}

#submit {
  width: 120px;
  height: 40px;
  background-color: salmon;
  border-radius: 14px;
  color: white;
  border-style: none;
  margin: 36px;
}

#submit:hover {
  cursor: pointer;
}

#modal {
  background-color: white;
  display: none;
  border-style: solid;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#modal > img {
  width: 400px;
  height: 200px;
}

.inactive {
  opacity: 0.4;
}

#result {
  font-size: x-large;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes click {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.8, 0.8);
  }
  100% {
    transform: scale(1, 1);
  }
}
